.wrapper {
  /* background: linear-gradient(rgb(239, 87, 227, 0.9), rgba(239, 87, 227, 0.1)),
    var(--image-url) center center; */
  height: 100vh;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

footer {
  font-size: 0.8rem;
  z-index: 1;
  position: absolute;
  bottom: 0;
}

a {
  color: #aba9a9;
}
