:root {
  --image-url: url('stockholm.jpg');
}

html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  font-family: "'Playfair Display', serif", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 16px;
  color: white;
  margin: 0;
  padding: 0;
  width: 100vw;
  background: linear-gradient(rgb(239, 87, 227, 0.9), rgba(239, 87, 227, 0.1)),
    var(--image-url) center center;
}
